<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
</head>
<body>
    <h1>Registrarse</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message[1] }}">{{ message[0] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/register">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }} {{ form.username }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.confirm_password.label }} {{ form.confirm_password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <p>Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
</body>
</html>
